<div>
    <div>
      <h1>My Budget App</h1>  
    </div>

    <div id="card-btn" class="card-body" 
      <div>
        <%= link_to "Sign in",  new_user_session_path, class:"btn btn-primary" %>
      </div>
      <div>
        <%= link_to "Sign up",  new_user_registration_path, class:"btn btn-primary" %>
      </div>
    </div>
</div>