<p style="color: green"><%= notice %></p>

<%= render @group %>

<div>
  <%= link_to "Back to groups", user_groups_path %>

  <%= button_to "Destroy this group", user_group_path, method: :delete %>
</div>
