<p style="color: green"><%= notice %></p>

<%= render @group %>

  <%= button_to "Delete this group", user_group_path, method: :delete, class: "btn btn-danger m-5" %>

<div class="link-new text-center">
  <%= link_to "Back to groups", user_groups_path %>
</div>
